{
    "DEV-DB-HOST": "",
    "DEV-DB-NAME": "",
    "DEV-DB-USERNAME": "",
    "DEV-DB-PASSWORD": "",
    "DEV-DB-PORT": "",

    "PAYPAL-SANDBOX-CLIENT-ID": "",
    "PAYPAL-SANDBOX-CLIENT-SECRET": "",
    "PAYPAL-SANDBOX-URL": "",
    "PAYPAL-SANDBOX-API-URL": "",

    "PAYPAL-LIVE-CLIENT-ID": "",
    "PAYPAL-LIVE-CLIENT-SECRET": "",
    "PAYPAL-LIVE-URL": "",
    "PAYPAL-LIVE-API-URL": "",

    "CLOUDFLARE-API-TOKEN": "",
    "CLOUDFLARE-ACCOUNT-ID": "",

    "SENDGRID-API-KEY": ""
}